<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <title>Elite Trader Academy © Turbo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A premium admin dashboard template by mannatthemes" name="description" />
        <meta content="Mannatthemes" name="author" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="/favicon.ico">

        <link href="/assets/plugins/ticker/jquery.jConveyorTicker.css" rel="stylesheet" type="text/css" />
        <link href="/assets/plugins/dropify/css/dropify.min.css" rel="stylesheet">

        <!-- App css -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />

    </head>

    <body>


            @include('components/header')
            @include('components/headermenu')

            <!-- Page Content-->
            <div class="page-content">

                @include('components/comingsoon')

            @include('components/footer')
            </div>
            <!-- end page content -->
        </div>
        <!-- end page-wrapper -->

        <!-- jQuery  -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/waves.min.js"></script>
        <script src="/assets/js/jquery.slimscroll.min.js"></script>

        <script src="/assets/plugins/moment/moment.js"></script>
        <script src="/assets/plugins/apexcharts/apexcharts.min.js"></script>
        <script src="https://apexcharts.com/samples/assets/irregular-data-series.js"></script>
        <script src="https://apexcharts.com/samples/assets/series1000.js"></script>
        <script src="https://apexcharts.com/samples/assets/ohlc.js"></script>
        <script src="/assets/plugins/dropify/js/dropify.min.js"></script>
        <script src="/assets/plugins/ticker/jquery.jConveyorTicker.min.js"></script>
        <script src="/assets/plugins/peity-chart/jquery.peity.min.js"></script>
        <script src="/assets/plugins/chartjs/chart.min.js"></script>
        <script src="/assets/pages/jquery.profile.init.js"></script>

        <!-- App js -->
        <script src="/assets/js/app.js"></script>

    </body>
</html>
