<footer class="footer text-center text-sm-left">
    &copy; Todos os direitos reservados. <span class="text-muted d-none d-sm-inline-block float-right">by <i class="mdi mdi-flash text-danger"></i> <a href="https://agenciaturbo.com"> Agência Turbo</a></span>
</footer>
